.textRed {
	color: red !important;
}

.textOrange {
	color: #C14E00 !important;
}

.textGreen {
	color: #008C00 !important;
}

.textBold {
	font-weight:bold !important;
}

.ui-listview .ui-li-aside {
	font-size: .90em;
	cursor: pointer;
	right: 1em;
}
.ui-listview .ui-li-aside:hover {
	text-decoration:underline;
}