.textRed {
	color: red !important;
}

.textOrange {
	color: #C14E00 !important;
}

.textGreen {
	color: #008C00 !important;
}

.textBold {
	font-weight:bold !important;
}

.ui-listview .ui-li-aside {
	font-size: .90em;
	cursor: pointer;
	right: 1em;
}
.ui-listview .ui-li-aside:hover {
	text-decoration:underline;
}

.fl-custom-image-dl {
	width: 32px;
	height: 32px;
	background-image: url(images/ico-dl.png);
	background-repeat: no-repeat;
	opacity:0.4;
}
.fl-custom-image-arrival {
	display:inline-block;
	line-height:16px; 
	background: url(images/ico-ar-r.png) center left no-repeat;
	padding-left:19px;
	margin-left:4px;
	opacity:0.6;
}

.departure-with-comment {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
}

.departure-asterisk {
	color: #cc0000;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 1px;
}

.route-expired-warning {
	background-color: #fff3cd !important;
	border-left: 4px solid #cc0000 !important;
}

.route-expired-text {
	color: #cc0000;
	font-weight: bold;
	font-size: 0.9em;
}